/* normalize css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  min-width: 1280px;
  background: #fffeff;
  font-family: Arial, sans-serif;
  line-height: 1;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
a:visited,
a:focus {
  outline: none;
}
a.lnk:hover {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
strong {
  font-weight: 700;
}
input::-webkit-input-placeholder {
  color: #9b9c9f;
}
input::-moz-input-placeholder {
  color: #9b9c9f;
}
input:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #9b9c9f;
}
a,span{
  display: inline-block;
}
svg:not(:root) {
  overflow: hidden;
}
